cGraph==0.1
cycler==0.10.0
decorator==4.3.0
graphviz==0.10.1
kiwisolver==1.0.1
matplotlib==3.0.2
networkx==2.2
numpy==1.15.4
pygraphviz==1.5
pyparsing==2.3.0
python-dateutil==2.7.5
r2pipe==1.1.0
scipy==1.1.0
six==1.11.0
